@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url(./fonts/RobotoLight.ttf) format('truetype');
}


.App {
  text-align: center;
}


.App-header {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #474b63;
}

.colintest {
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  /* box-shadow: 8px 8px 5px #444; */
  margin: auto;
  padding: 0px 30px;
  width: 60%;
  /* background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc); */
  /* text-align: center; */
}

.colintesttwo {
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  /* box-shadow: 8px 8px 5px #444; */
  margin: auto;
  padding: 0px 30px;
  width: 1200px;
  /* background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc); */
  /* text-align: center; */
}

body {
  font-family: 'RobotoLight';
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 20px;
}